/* Header */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans";
}

#navbar{
    display: flex;
    justify-content: space-between;
    height:80px;
    align-items: center;
    overflow: hidden;
}

#navbar #logo{
    margin-left: 50px;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li{
    margin-right: 40px;
    font-weight: 600;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}

#navbar #search-box{
    margin-right: 50px;
}
#navbar #search-box #search{
    background-image: url('assests/icon-search.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1rem;
    border: 1px solid #BBBBBB;;
    border-radius: 7px;
    color: #BBBBBB;
    height: 45px;	
    width: 180px;
    padding-left: 40px;
}


/* Content */
.margin-1{
    margin-top: 20px;
}

.margin-2{
    margin-top: 40px;
}

#content{
    display: flex;
}

/* Product Image */

#content #product-img{
    display: flex;
    flex: 5;
    align-content: center;
    height: 590px;
    background-color: #EAEAEA;
}

#content #product-img #shoe-img{
    margin: auto;
    max-width: 100%;
}

/* Product Description */

#content #product-content{
    flex: 3;
    background-color: #f4f4f4;
    padding: 30px; 
    overflow: auto;
    height: 590px;
    flex: 0 0 540px
}


/* Colour box */

#content #product-content #colour-box-alignment{
    display: flex;
}

#content #product-content .colour-box{
    display: flex;
    margin-right: 20px;
    height: 42px;
    width: 40px;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}

#content #product-content .colour-box-1{
    border: 1px solid #000000;
}

#content #product-content .colour-box-2{
    border: 1px solid #BBBBBB;
}


#content #product-content .colour-box .left-colour-box{
    height: 40px;	
    width: 20px;	
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px; 
}

#content #product-content .colour-box .right-colour-box{
    height: 40px;	
    width: 20px;		
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px; 
}

.colour-1{ background-color: #76ACA8;}
.colour-2{ background-color: #F6796F;}
.colour-3{ background-color: #8076AC;}
.colour-4{ background-color: #6FAAF6;}
.colour-5{ background-color: #000000;}
.colour-6{ background-color: #ffffff;}

/* Select Size */

#content #product-content #select-box-alignment{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

#content #product-content #select-box-alignment .select-box{
    padding: 15px 20px;
    border: 1px solid #BBBBBB;	
    border-radius: 7px;
    margin-right: 20px;
    margin-top: 20px;
    align-content: center;
    background-color: #f4f4f4;
}

#content #product-content #select-box-alignment #selected-size{
    background-color: #000000;
    color: #ffffff;
}

/* Buy Now */
#content #product-content #buy-now{
    width: 100%;
    height: 60px;
    border-radius: 7px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
}

#content #product-content #buy-now #right-arrow-img{
    margin-left: 5px;
    height: 10px;
    width: 15px;
}

/* More Info */
#content #product-content .weighted-font{
    display: block;
    font-weight: 600;
}
