/* Header */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans";
}

#navbar #logo{
    margin-left: 30px;
    margin-right: 60px;
}

#navbar #logo img{
    height: 20px;	
    width: 58.21px;
}

#navbar ul li{
    margin-right: 20px;
    font-weight: 600;
}

#navbar #search-box input::placeholder {
    color: transparent;
}

#navbar #search-box input{
    border: none !important;
    border-width: 0;
    box-shadow: none;
    margin-left: 25px;
}

/* Content */
.margin-2{
    margin-top: 30px;
}

#content{
    display: block;
}

#content #product-img{
    height: 210px;
}

#content #product-img #shoe-img{
    height: 110px;	
    width: 250px;
}

#content #product-content{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

#content #product-content #buy-now-alignment{
    height: 69px;	
    width: 315px;
}

#content #product-content #product-description{
    margin-top: 30px;
    order: 1;
}

#content #product-content #more-info{
    order: 2;
}

